body{
  font-family: 'Open Sans', sans-serif;
}

.box-feedback{
  background: black;
  color : white;
  position : fixed;
  left : 0;
  top : 50%;
  transform: rotate(90);
  padding : 3px;
  border-radius: 2px;
  transform: rotate(90deg);
  transform-origin: 10px;
}
.bg-black{
  background-color: black;
}

.bg-white{
  background-color: white;
}

.bg-section {
    background-color: #f6f6f6;
}

.bg-section-2 {
    background-color: #d6d6d6;
}

.bg-header{
  background: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-section-devices{
  background: url("../images/devices.jpg");
  height:250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #d6d6d6;
}

.img-overlay{
  position : absolute;
  bottom : 5px;
  left : 5px;
}

.img-multitude{
  position : relative;
}

.text-margin-bottom{
  margin-bottom: 250px;
}

.img-testimonial{
  width : 200px;
  height : 200px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-bottom-40{
  margin-bottom: 40px;
}

.padding-15{
  padding : 5px;
}

.box-cost{
  width : 100%;
  height : 200px;
  text-align : center;
  padding-top : 20px;
}

.box-cost h1{
  font-size : 72px;
}
