.bg-section {
    background-color: #f6f6f6;
}

.bg-section-devices{
  background: url("../images/devices.jpg");
  height:250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #d6d6d6;
}

.bg-text{
  background-color: white;
}

.img-overlay{
  position : absolute;
  bottom : 5px;
  left : 5px;
}

.img-multitude{
  position : relative;
}

.text-margin-bottom{
  margin-bottom: 250px;
}
